* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  font-family: "Inter";
  height: 100vh;
  background: linear-gradient(-45deg, #1c0121, #350148, #07012a, #8f02b2);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  width: 100%;
}
button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;
  padding: 2px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  border: 2px solid #a78bfa;
  border-radius: 8px;
  background: #18181b;
}

input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-weight: 600;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;

  }

}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
