* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:whitesmoke;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(37, 1, 51),rgb(54, 2, 69));
    background-size: 300% 300%;
    animation: colors 5s ease infinite; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    position: fixed;
    width: 100%;

}
button {
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid #010101;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px ;
    font-family: 'Inter' ;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

#form-habits {
    display: flex;
    padding: 182px 48px 48px;
    width: fit-content;

}

.habits {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  
    gap: 24px;
  }
  
.habit {
    width: 64px;
    height: 64px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div {
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;
}

input {
    appearance: none;
    -webkit-appearance: none;
    width: 64px;
    height: 64px;
    border: 2px solid #A78BFA;
    border-radius: 8px;
    background: #18181B;
}

input:checked {
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Inter' ;
    font-weight: 600;
    text-align: center;
}
 
footer {
    position: absolute;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-family: 'Inter' ;
    font-weight: 600;
    width: 50%;
    height: 50px;    
    text-align: center;
    line-height: 20px;
}

@keyframes colors {
    0% {
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0% 50%;
    }
}

@media (max-width:570px)  {
    button div {
        display: none;
    }

}